html, body {
	font-family: "Source Sans Pro";
}

#container{
	margin: 0 auto;
	padding: 0;
	width: 980px;
}

.title{
	text-align: center;
	margin: 40px 0 50px;
}


.iamjoe{
	margin-top: 100px;
	text-align:center;	
}


	
/*Social Buttons*/

.social{
	margin: 40px auto;
	text-aling: center;
	width:250px;
	padding: 10px 10px 10px 10px;
}
.dribbble {
	margin:0 auto;
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/drib.png) no-repeat left top;
	}

.dribbble a {
	display: block;	
	height: 50px;
}

.dribbble a:hover {
	background:url(../images/dribhov.png) no-repeat left top;
	}
	

	
.twitter {
	margin:0 auto;
	float: left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/twit.png) no-repeat left top;
	}

.twitter a {
	display: block;	
	height: 50px;
}

.twitter a:hover {
	background:url(../images/twithov.png) no-repeat left top;
	}
	
.instagram {
	margin:0 auto;
	float: left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/insta.png) no-repeat left top;
	}

.instagram a {
	display: block;	
	height: 50px;
}

.instagram a:hover {
	background:url(../images/instahov.png) no-repeat left top;
	}
	
	
.linkedin {
	margin:0 auto;
	float: left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/in.png) no-repeat left top;
	}

.linkedin a {
	display: block;	
	height: 50px;
}

.linkedin a:hover {
	background:url(../images/inhov.png) no-repeat left top;
	}
	
.rdio {
	margin:0 auto;
	float: left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/rdio.png) no-repeat left top;
	}

.rdio a {
	display: block;	
	height: 50px;
}

.rdio a:hover {
	background:url(../images/rdiohov.png) no-repeat left top;
	}

