.html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    font-family: "Source Sans Pro";
    padding: 0px; 
    margin: 0px; 
}

a{
    text-decoration: none;
    color: #333;
}

body{
    font-weight:400;
    color: #333;
}

h1{
    font-weight: 900;
    font-size: 160px;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}
.ct{
    text-align: center;
}
.smug-remarks{
    color: #fff;
    font-size: 36px;
}
.lg-margin-start{
    margin: 300px 0;
}

.lg-margin{
    margin: 500px 0;
}

.lg-margin p{
    font-size: 36px;
}

.md-margin{
    margin: 200px;
    font-size: 36px;
}

.srslybg{
    font-size: 280px;
}

.folio{
    width: 100%;
    height: 900px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    text-align: center;
}

.foliolong{
    width: 100%;
    height: 1100px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    text-align: center;
}

.folio-item{
    width: 1000px;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.folio-item img{
    margin: 60px 0;
}

.folio-text{
    text-align: left;
    margin: -40px 0;
}

.folio-text p{
    margin: 10px 0;
}

.folio-text a{
    text-align: right;
    margin: 20px 0; 
    float: right;
}
.swag{
    background-color: #96c538;
    color:#fff;
}

.swag a{
    color:#fff;
}

.ziibra{
    background-color: #f8f8f8;
    color:##323132;
}

.ziibra a{
    color:#c521de;
}

.hello{
    background-color: #00aeef;
    color: #fff;
}

.hello a{
    color: #fff;
}

.l5{
    background-color: #ff5533;
    color: #fff;
}

.l5 a{
    color: #fff;
}

.gopro{
    background-color: #111111;
    color: #fff;
}

.gopro span{
    font-weight: 600;
}

.gopro a{
    color: #2fadf5;
}

.ff{
    background-color: #479EE0;
    color: #fff;
}

.ff span{
    font-weight: 600;
}

.ff a{
    color: #FFED00;
}

a.ffa{
    color: #FFED00;
    margin: 0 auto;
    float: none;
    text-align: left;
}

.cfp{
    background-color: #33add9;
    color:#fff;
}

.links{
    width: 100%;
    height: 1000px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    display: block;
}

.dribbble{
    display: block;
    height: 100%;
    line-height: 1000px;
    color: #ea4c89;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}

.dribbble:hover{
    background-color: #ea4c89;
    color:#fff; 
}

.twitter{
    color: #55acee;
    display: block;
    height: 100%;
    line-height: 1000px;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}

.twitter:hover{
    color:#fff;
    background-color: #55acee;
}

.medium a{
    color: #333332;
    line-height: 1000px;
    display: inline-block;
}

.medium a:after{
content: '';
display: block;
height: 10px;
width: 0;
margin-top: -420px;
background: transparent;
transition: .5s ease-in-out;
}

.medium a:hover:after{
    width:600px;
    background: #57ad68;
}

.linkedin{
    display: inline;
}
.linkedin a{
    color: #0077b5;
    line-height: 1000px;
    display: inline;
}
/*Some horrible css IFTTT to change the LinkedIn text  ...doesn't work properly... */
.linkedin a#a{
    display: inline;
}

.linkedin a#b{
    display:none;
}

/*a#a:hover{
    display: none;
}

a#a:hover a#b{
    display: inline;
}

a#b:hover a#a{
    display: none;
}

a#b:hover a#b{
    display: inline;
}*/

.footer{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 200px;
}

.footer h2{
    font-size: 30px;
    font-weight: 300;
}

.footer span{
    font-weight: 400;
}

.footer a{
    color:#0091FF;
}

/*BUDGETLIST STYLE*/

.vlist{
    margin-top: 40px
}

.welcome{
    margin: 100px auto;

}

.md-margin{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 36px;
}

.vlist > li{
    font-size: 24px;
}
