.html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    font-family: "Source Sans Pro";
    padding: 0px; 
    margin: 0px; 
}

a{
    text-decoration: none;
    color:#333;
}

body{
    font-weight:400;
    color: #333;
}


h1{
    font-weight: 900;
    font-size: 160px;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}
.ct{
    text-align: center;
}
.smug-remarks{
    color: #fff;
    font-size: 36px;
}
.lg-margin-start{
    margin: 300px 0;
}

.lg-margin{
    margin: 500px 0;
}

.lg-margin p{
    font-size: 36px;
}

.md-margin{
    margin: 200px;
    font-size: 36px;
}

.srslybg{
    font-size: 280px;
}

.folio{
    width: 100%;
    height: 1000px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    text-align: center;
}

.folio-item{
    width: 1000px;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.folio-item img{
    margin: 60px 0;
}



.folio-text{
    text-align: left;
    margin: -40px 0;
}

.folio-text p{
    margin: 10px 0;
}

.folio-text a{
    text-align: right;
    margin: 20px 0; 
    float: right;
}
.swag{
    background-color: #068ad8;
    color:#fff;
}

.swag a{
    color:#fff;
}

.ziibra{
    background-color: #f8f8f8;
    color:##323132;
}

.ziibra a{
    color:#c521de;
}

.hello{
    background-color: #00aeef;
    color: #fff;
}

.hello a{
    color: #fff;
}

.l5{
    background-color: #ff5533;
    color: #fff;
}

.l5 a{
    color: #fff;
}

.dribbble a{
    color: #ea4c89;
}

.twitter a{
    color: #55acee;
}

.footer{
    width: 1000px;
    margin: 40 auto;
}

.footer h2{
    font-size: 30px;
    font-weight: 300;
}

.footer span{
    font-weight: 400;
}

.footer a{
    color:#55acee;
}

