html, body {
	font-family: "Source Sans Pro";
}

#container{
	margin: 0 auto;
	padding: 0;
	width: 980px;
}

.title{
	text-align: center;
	margin: 0 0 50px;
}

.title h1{
	font-size: 70px;
	font-weight: 700;
	color: #e0e0e0;
	text-shadow: 0 -1px #b7b7b7;
	margin: 0;
}

.title h2 {
	font-size: 40px;
	font-weight: 200;
	color: #e0e0e0;	
	margin: 0;
}

.project {
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.33);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.33);
	box-shadow: 0 1px 5px rgba(0,0,0,.33);
	margin: 0 auto 100px;
}
.project.logo{
	margin: 10px auto;
}
.project h3 {
	color: #e0e0e0;
	font-size: 30px;
	font-weight: 400;
	padding: 5px 0 0 15px;
	margin: 0;
}
.project img {
	margin: 10px 0 0 0;
	padding: 0;
}

.dribbble {
	position:relative;
	display: block;
	background:url(/images/drib.png)no-repeat;
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	-o-transition:all 0.4s linear;
	}
	.dribbble a{
		display: block;
		transition:all 0.2s linear;
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		}
	.arrow a:hover{
	background:url(/images/dribhov.png)no-repeat;
	}
	
.arrow span {
	position:absolute;
	top:1px;
	right:0;
	background:url(/about/img/arrows-hover.png)no-repeat right;
	display:block;
	width:35px;
	height:35px;
	opacity:0;
	transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	}
	.page:hover span{opacity:1.0;}h2{
		vertical-align:text-bottom;
		font-size: 14px;
		font-weight:200; 
		transition:all 0.4s linear;
		-webkit-transition:all 0.4s linear;
		-moz-transition:all 0.4s linear;
		-o-transition:all 0.4s linear;
		}


a.dribbble {
	display: block;
	width: 50px;
	height: 50x;
	background:url(/images/drib.png);
	}

a.dribbble:hover {
	background:url(/images/dribhov.png);
	}
