html, body {
	font-family: "Source Sans Pro";
}

#container{
	margin: 0 auto;
	padding: 0;
	width: 980px;
}

.title{
	text-align: center;
	margin: 20px 0 50px;
}

.title h1{
	font-size: 70px;
	font-weight: 700;
	color: #e0e0e0;
	text-shadow: 0 -1px #b7b7b7;
	margin: 0;
}

.title h2 {
	font-size: 40px;
	font-weight: 200;
	color: #e0e0e0;	
	margin: 0;
}

.project {
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.33);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.33);
	box-shadow: 0 1px 5px rgba(0,0,0,.33);
	margin: 0 auto 100px;
}
.project.logo{
	margin: 10px auto;
}
.project h3 {
	color: #e0e0e0;
	font-size: 30px;
	font-weight: 400;
	padding: 5px 0 0 15px;
	margin: 0;
}
.project img {
	margin: 10px 0 0 0;
	padding: 0;
}
	
/*Social Buttons*/

.social{
	float: right;
	width: 50%;
	margin: 10px 0 40px;
}
.dribbble {
	float:left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/drib.png) no-repeat left top;
	}

.dribbble a {
	display: block;	
	height: 50px;
}

.dribbble a:hover {
	background:url(../images/dribhov.png) no-repeat left top;
	}
	

	
.twitter {
	float:left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/twit.png) no-repeat left top;
	}

.twitter a {
	display: block;	
	height: 50px;
}

.twitter a:hover {
	background:url(../images/twithov.png) no-repeat left top;
	}
	
.instagram {
	float:left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/insta.png) no-repeat left top;
	}

.instagram a {
	display: block;	
	height: 50px;
}

.instagram a:hover {
	background:url(../images/instahov.png) no-repeat left top;
	}
	
	
.linkedin {
	float:left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/in.png) no-repeat left top;
	}

.linkedin a {
	display: block;	
	height: 50px;
}

.linkedin a:hover {
	background:url(../images/inhov.png) no-repeat left top;
	}
	
.rdio {
	float:left;
	display: block;
	width: 50px;
	height: 50x;
	text-indent: -9999px;
	overflow: hidden;
	background:url(../images/rdio.png) no-repeat left top;
	}

.rdio a {
	display: block;	
	height: 50px;
}

.rdio a:hover {
	background:url(../images/rdiohov.png) no-repeat left top;
	}

