@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600,700);

body {
  background-color: #010101;
  font-family: 'Work Sans', sans-serif;
  color: #3778FF;
}

p{
  font-size: 2em;
}

section {
  @include outer-container;
  
  .title {
    @include span-columns(10);
    
    margin: 5rem auto;
  }
  .hero {
  @include span-columns(10);

  height:     0;
  width:      100%;
  margin-top: 6rem;
  padding-top: 146%;

  display:    block;
  position:   relative;
  
  background-image:     url("../img/headfront.png"),
                        url("../img/fist.svg"),
                        url("../img/headback.png");
  background-repeat:    no-repeat,
                        no-repeat,
                        no-repeat;
  background-position:  center,
                        60% top,
                        center;
  background-size:      80%,
                        30%,
                        80%;
  background-clip:      border-box,
                        border-box,
                        border-box;
  }
  .about{
    @include span-columns(8);
    
    position: absolute;
    top: 45rem;

    h1{
      font-size: 5.5em;
      font-weight: 600;
      text-transform: uppercase;
    }   
  }
}

