@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

      $iamblue:  #3778FF;
        $black:  #010101;
$headline-font: 'Inconsolata', Helvetica, Arial, sans-serif;
    $body-font: 'Work Sans', Helvetica, Arial, sans-serif;

body {
  color:      $iamblue;
  background: #010101;
  font-family: $body-font;
  background: -webkit-linear-gradient(rgba(1,1,1,1) 50%, rgba(255,255,255,1) 50%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 50px;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

p{
  font-size: 1.7em;
}

a{
  text-decoration: none;
  color: $iamblue
}

h1{
  font-size:      6em;
  font-weight:    700;
  font-family: $headline-font;
  letter-spacing: .1em;
  text-transform: uppercase;
} 

.row{
  @include row();
}

section {
  @include outer-container;
  
  .title {
    @include span-columns(12);
    margin: 10% auto 0;
  }

  .titlesvg{
    width:  100%;
    height: 0;

    background-image: url("../img/iamjoe.svg");
    background-size: cover;
    box-sizing:      content-box;

    padding: 0;
    padding-bottom: calc(100% * 3 / 20)
  }
  .hero {
    @include span-columns(12);
    position:   relative;

    .head-img{
    width:    90%;
    margin:   40% auto 0;

    overflow: visible;
    }
  }  
  .about{
    @include span-columns(9);
    
    clear:    both;    
    position: relative;
    
    margin-top: -32rem;
    z-index:    100;  
  }
}
.aboutme{
  ;@include span-columns(10);

  a{
    position: relative;

    &::before{
      position: absolute;
      top: 96%;
      left: 0;
      width: 100%;
      height: 3px;
      background: #ffffff;
      content: '';
    }
  }
}

.workbg{
  @include outer-container(100%);

  background: #ffffff;
  
  position:   relative;
  margin-top: 8rem;

  &:before{
    content: '';
  
    @include transform (skewY(-3deg));
    background: #ffffff;
    
    width:    100%;
    height:   9rem;
    
    position: absolute;
    top:      -5rem;
    left:     0;
  }

  .work{
    @include span-columns(10);
    @include shift(1);

  }
}