@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

      $iamblue:  #3778FF;
        $black:  #010101;
$headline-font: 'Inconsolata', Helvetica, Arial, sans-serif;
    $body-font: 'Work Sans', Helvetica, Arial, sans-serif;

body {
  color:        $iamblue;
  font-family:  $body-font;
  background:   #010101;
}

p{
  font-size: 1.7em;
  letter-spacing: .03em;
  line-height: 1.3;
}

a{
  text-decoration: none;
  color: $iamblue
}

h1{
  font-size:      6em;
  font-weight:    700;
  font-family:    $headline-font;
  letter-spacing: .1em;
  text-transform: uppercase;
} 

.row{
  @include row();
}

section {
  @include outer-container;
  
  .title {
    @include span-columns(12);
    margin: 10% auto 0;
  }

  .titlesvg{
    width:  100%;
    height: 0;

    background-image: url("../img/iamjoe.svg");
    background-size: cover;
    box-sizing:      content-box;

    padding: 0;
    padding-bottom: calc(100% * 3 / 20)
  }
  .hero {
    @include span-columns(12);
    position:   relative;

    .head-img{
    width:    90%;

    margin:   40% auto 0;
    overflow: visible;
    }
  }  
  .about{
    @include span-columns(9);
    
    clear:      both;    
    position:   relative;
    margin-top: -32rem;
    z-index:    100;  
  }
}
.aboutme{
  ;@include span-columns(10);

  a{
    position: relative;

    &::before{

      width:  100%;
      height: 3px;

      background: #ffffff;

      position: absolute;
      top:      104%;
      left:     0;
      content:  '';
    }
  }
}

.workbg{
  @include outer-container(100%);

  background: #ffffff;
  
  position:   relative;
  margin-top: 8rem;

  &:before{
    content: '';
  
    @include transform (skewY(-3deg));    
    width:    100%;
    height:   9rem;
    
    background: #ffffff;

    position: absolute;
    top:      -5rem;
    left:     0;
  }

  .work{
    @include span-columns(10);
    @include shift(1);

  }
}

.footer{
  @include span-columns(8);

  margin: 15rem 0 3rem;

  p{
    font-size:  1em;
    color:      black;
  }
}